body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 160%;
    font-family: "Roboto", "Tahoma", sans-serif;
    text-align: center;
}

h1,
h2 {
    font-weight: bold;
    color: #753666;
    text-transform: uppercase;
}

.content {
    display: inline-block;
    width: 80%;
    max-width: 1024px;
    padding-top: 40px;
    text-align: left;
}

.photo,
.title {
    display: inline-block;
    vertical-align: middle;
}

.photo {
    width: 10%;
    height: 10%;
    margin-right: 10px;
    border-radius: 50%;
}

.contacts img {
    vertical-align: middle;
    width: 18px;
}

.punkt__block {
    padding: 20px;
    background-color: #F8F7F5;
    color: black;
}